<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>TUTE</title>

	<link rel="stylesheet" href="stylesheet.css">
	<link rel="icon" href="Logo200.png">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="smoothScroll.js"></script>

</head>

<body>
	<a name="home"/>
	<div id="navigation">
		<ul>
			<a href="#home" id="" style="font-size:36px;"class=smoothScroll>TUTE</a>
			<a href="#about" id="hrefintro" class=smoothScroll>ABOUT</a>
			<a href="#about" id="hrefabout" onClick="javascript:learners();"class=smoothScroll>LEARN</a>
			<a href="#about" id="hreflinks" onClick="javascript:tutors();"class=smoothScroll>TUTOR</a>
		</ul>
	</div>
	<div class="content-wrapper">
		<div class="content background">
			<div class="header">
				<br>
				<h1 class="white">TUTE</h1>
				<h2 class="white"style="padding:8px">Kickstart your future - as a student or as a mentor</h2>
				<br>
				<a href="#about"style="color:white" class=smoothScroll><h2 class="white button">Learn More</h2></a>
				<a href="http://github.com/liawesomesaucer/cosmic" class="white"><h2 class="white button">View GitHub</h2></a>
			</div>
		</div>
		<a name="about"/>
		<div class="content user">
			<br>
			<h3 id="what">Learn what you want, when you want it, and where you need it</h3>

			<div style="width:100%;margin:auto; text-align:center;">
				<a href="javascript:learners()"><h3 class="switchbutton learners" style="background-color:#666666; color:white; border-color:#666666;">Learners</h3></a>
				<a href="javascript:tutors()"><h3 class="switchbutton tutors">Tutors</h3></a>
			</div>

			<div class="box-wrapper wrap1" style="">
				<h4 id="box1">What</h4>
				<div class="box box1">
				</div>

				<p id="desc1" style="line-height:54px;text-align:center;position:relative;width:290px"class="desc">Dozens of subjects to choose</p>
			</div>
			<div class="box-wrapper wrap2">
				<h4 id="box2">When</h4>
				<div class="box box2">
				</div>

				<p id="desc2" style="line-height:54px;text-align:center;position:relative;width:290px"class="desc">Request a tutor, on demand</p>
			</div>
			<div class="box-wrapper wrap3">
				<h4 id="box3">Where</h4>
				<div class="box box3">
				</div>

				<p id="desc3" style="line-height:54px;text-align:center;position:relative;width:290px"class="desc">Always find tutors close by</p>
			</div>
			<a href="javascript:show_fields()"><div style="margin:auto; width:315px;">
				<img src="Logo200.png" id="logo" style="display:block;margin-left:auto;margin-right:auto;height:100px;width:100px">
			
			<h3>Join Tute Today</h3>
			</div></a>

			<div id="form" style="margin:auto; width:600px; text-align:center;">
				<!-- <form action="asdf" id="register" style="float:center"> -->
					<input class="form-opt" id="form-email" style="margin-top:0px;"type="text" name="email" placeholder="email"><br>
					<input class="form-opt" id="form-password" type="password" text="password" placeholder="password"><br>
					<input class="form-opt" id="form-name" type="text" name="name" placeholder="name"><br>
					<p id="message" style="line-height:32px;width:100%">We'll be using your location to find other tutors and students</p>
					<button class="form-opt form-button" style="width:200px;margin:auto;margin-top:10px" onClick="javascript:getLocation()">Kickstart!</button>
				<!-- </form> -->
			</div>

			<br><hr><br><br><br>

			<div style="max-width:650px;margin:auto;">
				<h2 style="text-align:center">Built at LA Hacks 2015</h2>

				<h5>Vision</h5>
				<p>Finding tutors has always been difficult.  Either you sign up for some boring, weekly class that works at a suboptimal pace, or you ask your friend to help on a problem, but he has to quickly get back to his work.  Enter Tute.  Tute makes finding tutors nearby and on-demand a cinch.</p>

				<p>Tute helps tutors also - by eliminating the corporate middleman, tutors can set their own prices, availability, and tutor at their own pace with their own curriculum.</p>

				<h5>Team Members</h5>
				<p>Michael Wang - <span style="font-size:16px;">Front-end Android Developer, Graphic Designer</span></p>
				<p>Tom Li - <span style="font-size:16px;">Lead Front-end Android Developer</span></p>
				<p>Theodore Lau - <span style="font-size:16px;">Front-end Android Developer, User Profile Integration</span></p>
				<p>Vincent Liaw - <span style="font-size:16px;">Back-end Developer, Web Designer</span></p>

				<h5>Technologies</h5>

				<p>Back-end - <span style="font-size:16px;">Python-Tornado web server hosted on Heroku; PostgreSQL</span></p>
				<p>Application - <span style="font-size:16px;">Android platform with Google-Play</span></p>
				<p>Web - <span style="font-size:16px;">Built on HTML, CSS, Javascript, and JQuery</span></p>

				<h5>Future</h5>

				<p>Who knows what the future will bring?</p>

				<br><br><br>

				<div style="width:100%;margin:auto; text-align:center">

					<a href="https://github.com/liawesomesaucer/cosmic"><h3 class="switchbutton" style="margin:4px;">View GitHub</h3></a>
					<a href="#home" class=smoothScroll><h3 class="switchbutton" style="margin:4px;">Back Up Top</h3></a>
				</div>
			</div>

			<br><br><br>
			<hr>
			<div class="footer">
				<p class="footdesc" style="text-align:center;width:100%;line-height:50px">Copyright © 2015 TUTE | Web by <a href="http://liawesomesaucer.github.io/home"style="color:#666666">liawesomesaucer</a></p>
			</div>
			</div>
		</div>
	</div>

	<div id="preloaded-images"><!-- Preloading images for slideshow fluidity -->
	   <img src="calendar_bw.jpg" width="1" height="1" alt="" />
	   <img src="clock_bw.jpg" width="1" height="1" alt="" />
	   <img src="code_bw.jpg" width="1" height="1" alt="" />
	   <img src="driving_bw.jpg" width="1" height="1" alt="" />
	   <img src="piano_bw.jpg" width="1" height="1" alt="" />
	   <img src="study_bw.jpg" width="1" height="1" alt="" />
	   <img src="sunset_bw.jpg" width="1" height="1" alt="" />
	</div>
	
			
</body>

<script>
var longitude;
var latitude;
var time = 0;
var img1 = "piano_bw.jpg";
var img2 = "clock_bw.jpg";
var img3 = "sunset_bw.jpg";
var img4 = "code_bw.jpg";
var img5 = "calendar_bw.jpg";
var img6 = "study_bw.jpg";

// Hide form
$( "#form" ).hide();
// // changes the image
// function change_image(img) {

// 	$( ".background" ).css( {"background":"url("+img+")",
// 	"-webkit-background-size": "cover",
//   	"-moz-background-size": "cover",
//  	"-o-background-size": "cover"});
// }

// change_image(img1)

function tutors() {
	// first change buttons
	$( ".tutors" ).css( {
		"background-color":"#666666", 
		"color":"white", 
		"border-color":"#666666" 
	});
	$( ".learners" ).css( {
		"background-color":"white",
		"color":"#666666",
	});

	// then change message

	$( "#what" ).html( "Earn money enlightening others in your free time");

	// then change 3 things
	$( "#box1" ).html( "$ for skills" );
	$( "#box2" ).html( "Whenever" );
	$( "#box3" ).html( "Always Nearby" );

	$( "#desc1" ).html( "Dozens of skills demanded" );
	$( "#desc2" ).html( "Choose when you're available" );
	$( "#desc3" ).html( "Never need to go too far" );

	$( ".box1" ).css({"background":"url("+img1+") center center",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"} );
 	$( ".box2" ).css({"background":"url("+img5+") center center",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"} );
 	$( ".box3" ).css({"background":"url("+img6+") center center",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"} );
}
function learners() {

	// first change buttons
	$( ".learners" ).css( {
		"background-color":"#666666", 
		"color":"white", 
		"border-color":"#666666" 
	});
	$( ".tutors" ).css( {
		"background-color":"white",
		"color":"#666666",
	});

	// then change message
	$( "#what" ).html("Learn what you want, when you want it, and where you need it");

	// then change 3 things
	$( "#box1" ).html( "What" );
	$( "#box2" ).html( "When" );
	$( "#box3" ).html( "Where" );

	$( "#desc1" ).html( "Dozens of subjects to choose" );
	$( "#desc2" ).html( "Request a tutor, on demand" );
	$( "#desc3" ).html( "Always find tutors close by" );

	$( ".box1" ).css({
	"background":"url("+img4+") center center",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"} );
 	$( ".box2" ).css({"background":"url("+img2+") center center",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"} );
 	$( ".box3" ).css({"background":"url("+img3+") center center",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"} );
}

function show_fields() {
	$( "#form" ).fadeIn();
}

var xmlhttp = new XMLHttpRequest();
var herokuURL = "https://frozen-tor-9289.herokuapp.com/create_user";

xmlhttp.onreadystatechange=function() {
		console.log("readyState = " + xmlhttp.readyState);
		console.log("status = " + xmlhttp.status);
		if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			reply = JSON.parse(xmlhttp.responseText);
			if (reply==1) {
				$( "#message" ).css( {"color":"#000"});
				$( "#message" ).html("Success! You've been registered.");
			}
		}
	}

function submit_data(obj) {

	
	xmlhttp.open("POST", herokuURL, true);
	xmlhttp.send(obj);

	// Somehow handle failures here
}
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        alert("Geolocation is not supported by this browser.");
    }
}
function showPosition(position) {

	latitude = position.coords.latitude;
	longitude = position.coords.longitude;

	if ( latitude && longitude ) {
		// $( "#message" ).html("Longitude: " + String(longitude) + " | Latitude: " + String(latitude));
		email = document.getElementById( "form-email" ).value;
		password = document.getElementById( "form-password" ).value;
		name = document.getElementById( "form-name" ).value;
		if ( !email || !password || !name) {
			$( "#message" ).html("All fields are required");
			$( "#message" ).css({"color":"red"});
			return;
		}
		submit_data( JSON.stringify({"email":email,"password":password,"name":name, "latitude":latitude, "longitude":longitude}) );
		return;
	}

	else {
		$( "#message" ).html("Please enable location usage for this service.");
		$( "#message" ).css({"color":"red"});
	}

}


</script>